<p>Team Name: <%= @team.name  %></p>
<p>Home City: <%= @team.city  %></p>
<p>Position In position_in_standings: <%= @team.position_in_standings  %></p>
<p>Has Won the Stanley Cup: <%= @team.stanley_cup  %></p>